In [1]:
# IMPORT

In [2]:
import pandas as pd
import plotly.express as px

In [3]:
#LOAD DATAFRAME

In [4]:
excel_file = 'Survey_Results.xlsx'
sheet_name = 'DATA'

df = pd.read_excel(excel_file,
                   sheet_name=sheet_name,
                   usecols='B:D',
                   header=3)
df.head

<bound method NDFrame.head of      Department  Age  Rating
0     Marketing   59  3 Star
1      Logistic   58  2 Star
2    Purchasing   49  2 Star
3      Logistic   43  3 Star
4      Logistic   32  2 Star
..          ...  ...     ...
671   Marketing   45  4 Star
672  Purchasing   60  3 Star
673  Purchasing   43  4 Star
674   Marketing   56  2 Star
675       Sales   49  2 Star

[676 rows x 3 columns]>

In [5]:
df.shape

(676, 3)

In [6]:
total_rows = df.shape[0]
print(f'Total Rows: {total_rows}')

Total Rows: 676

In [7]:
#Filter/Group DataFrame

In [ ]:
#Filter W/ Department

In [8]:
departments = df['Department'].unique().tolist()
departments

['Marketing', 'Logistic', 'Purchasing', 'Sales', 'Finance']

In [9]:
departments_selection = ['Sales', 'Marketing', 'Finance']

In [11]:
mask = df['Department'].isin(departments_selection)
mask
df[mask].head()

   Department  Age  Rating
0   Marketing   59  3 Star
8       Sales   53  2 Star
9   Marketing   56  3 Star
10  Marketing   26  2 Star
12      Sales   59  4 Star

In [ ]:
#Filter W/ Age

In [12]:
age_selection = (30,40)
mask = df['Age'].between(*age_selection)
df[mask]

     Department  Age  Rating
4      Logistic   32  2 Star
5    Purchasing   35  3 Star
20     Logistic   37  4 Star
31        Sales   30  3 Star
41      Finance   30  3 Star
..          ...  ...     ...
657   Marketing   35  2 Star
659    Logistic   37  4 Star
660       Sales   40  3 Star
664   Marketing   40  3 Star
670  Purchasing   38  4 Star

[145 rows x 3 columns]

In [ ]:
#Group W/ Rate

In [15]:
df_grouped = df.groupby(by=['Rating']).count()[['Age']]
df_grouped

        Department  Age
Rating
1 Star          82   82
2 Star         177  177
3 Star         207  207
4 Star         150  150
5 Star          60   60